<div>
  <!-- ======= Заголовок ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
      <h1>Ivlieva Aleksandra Aleksandrovna</h1>
      <p>I'm <span class="typed" data-typed-items="Cosmetologist, Dermatovenerologist"></span></p>
    </div>
  </section>
  <!-- ======= Конец заголовка ======= -->


  <!-- ======= Портфолио ======= -->
  <section id="testimonials" class="testimonials">
    <div class="container">
      <div class="section-title">
        <h2>Портфолио</h2>
        <p>Собраны мои лучшие работы. Больше работ вы сможете найти в соответсвующем разделе в меню сайта.</p>
      </div>

      <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
        <div class="swiper-wrapper">

          <!-- ======= Контурная пластика ======= -->
          <div class="swiper-slide">
            <div class="testimonial-item">
              <img src="images/portfolio/contourPlastic/lips/4.jpg"
                   class="testimonial-photo img-fluid"
                   alt="">
              <p>Контурная пластика губ препаратом Stylage M.</p>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="testimonial-item">
              <img src="images/portfolio/contourPlastic/lips/2.jpg"
                   class="testimonial-photo img-fluid"
                   alt="">
              <p>Контурная пластика губ препаратом Stylage L.</p>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="testimonial-item">
              <img src="images/portfolio/contourPlastic/lips/3.jpg"
                   class="testimonial-photo img-fluid"
                   alt="">
              <p>Контурная пластика губ препаратом Juvederm Ultra Smile.</p>
            </div>
          </div>
          <!-- ======= Конец блока контурной пластики ======= -->


          <!-- ======= Векторный лифтинг ======= -->
          <div class="swiper-slide">
            <div class="testimonial-item">
              <img src="images/portfolio/radiesse/one/1.jpg"
                   class="testimonial-photo img-fluid"
                   alt="">
              <p>Векторный лифтинг.</p>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="testimonial-item">
              <img src="images/portfolio/radiesse/two/1.jpg"
                   class="testimonial-photo img-fluid"
                   alt="">
              <p>Векторный лифтинг.</p>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="testimonial-item">
              <img src="images/portfolio/radiesse/three/1.jpg"
                   class="testimonial-photo img-fluid"
                   alt="">
              <p>Векторный лифтинг.</p>
            </div>
          </div>
          <!-- ======= Конец блока с векторным лифтингом ======= -->


          <!-- ======= Фотоомоложение ======= -->
          <div class="swiper-slide">
            <div class="testimonial-item">
              <img src="images/portfolio/photorejuvenation/one/1.jpg"
                   class="testimonial-photo img-fluid"
                   alt="">
              <p>Фотоомоложение.</p>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="testimonial-item">
              <img src="images/portfolio/photorejuvenation/two/1.jpg"
                   class="testimonial-photo img-fluid"
                   alt="">
              <p>Фотоомоложение.</p>
            </div>
          </div>
          <!-- ======= Конец блока с фотоомоложением ======= -->


          <!-- ======= Ботокс ======= -->
          <div class="swiper-slide">
            <div class="testimonial-item">
              <img src="images/portfolio/botox/one/1.jpg"
                   class="testimonial-photo img-fluid"
                   alt="">
              <p>Ботулинотерапия.</p>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="testimonial-item">
              <img src="images/portfolio/botox/two/1.jpg"
                   class="testimonial-photo img-fluid"
                   alt="">
              <p>Ботулинотерапия.</p>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="testimonial-item">
              <img src="images/portfolio/botox/three/1.jpg"
                   class="testimonial-photo img-fluid"
                   alt="">
              <p>Ботулинотерапия.</p>
            </div>
          </div>
          <!-- ======= Конец блока с ботоксом ======= -->

        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </section>
  <!-- ======= Конец блока портфолио ======= -->

  @await Html.PartialAsync("ContactPartial")

</div>