<div>
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
      <h1>Aleksandra Aleksandrovna</h1>
      <p>I'm <span class="typed" data-typed-items="Cosmetologist, Dermatovenerologist"></span></p>
    </div>
  </section>
  
  <section id="portfolio" class="portfolio section-bg">
    <div class="container">

      <div class="section-title">
        <h2>Портфолио</h2>
        <p>Собраны мои лучшие работы. Больше работ вы сможете найти в соответсвующем разделе в меню сайта.</p>
      </div>

      <div class="row" data-aos="fade-up">
        <div class="col-lg-12 d-flex justify-content-center">
          <ul id="portfolio-flters">
            <li data-filter="*" class="filter-active">Все</li>
            <li data-filter=".filter-lips">Контурная плачтика губ</li>
            <li data-filter=".filter-card">Еще что-то</li>
            <li data-filter=".filter-web">Еще что-то</li>
          </ul>
        </div>
      </div>

      <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">
        
        <!-- ======= Блок с губами ======= -->

        <div class="col-lg-4 col-md-6 portfolio-item filter-lips">
          <div class="portfolio-wrap">
            <img src="images/portfolio/lips/1.jpg" class="img-fluid" alt="">
            <div class="portfolio-links">
              <a href="images/portfolio/lips/1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Короткое описание губ">
                <i class="bx bx-plus"></i>
              </a>
              <a asp-controller="Lips" asp-action="Index" asp-route-viewName="LipsOne" title="Детали">
                <i class="bx bx-link"></i>
              </a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-lips">
          <div class="portfolio-wrap">
            <img src="images/portfolio/lips/2.jpg" class="img-fluid" alt="">
            <div class="portfolio-links">
              <a href="images/portfolio/lips/2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Короткое описание губ">
                <i class="bx bx-plus"></i>
              </a>
              <a asp-controller="Lips" asp-action="Index" asp-route-viewName="LipsTwo" title="Детали">
                <i class="bx bx-link"></i>
              </a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-lips">
          <div class="portfolio-wrap">
            <img src="images/portfolio/lips/3.jpg" class="img-fluid" alt="">
            <div class="portfolio-links">
              <a href="images/portfolio/lips/3.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Короткое описание губ">
                <i class="bx bx-plus"></i>
              </a>
              <a asp-controller="Lips" asp-action="Index" asp-route-viewName="LipsThree" title="Детали">
                <i class="bx bx-link"></i>
              </a>
            </div>
          </div>
        </div>
        
        <!-- ======= Конец блока с губами ======= -->
        
        <!-- ======= Блока с контурная пластикой ======= -->
        
        
        
        
        <!-- ======= Конец блока с контурная пластикой ======= -->
        

      </div>

    </div>
  </section>

  @await Html.PartialAsync("ContactPartial")
</div>