<div>
  <section id="breadcrumbs" class="breadcrumbs">
    <div class="container">
      <div class="d-flex justify-content-between align-items-center">
        <h2>Детали работы</h2>
        <ol>
          <li>
            <a asp-controller="Portfolio" asp-action="Index">Портфолио</a>
          </li>
          <li>Детали работы</li>
        </ol>
      </div>
    </div>
  </section>
</div>