<div>
  <section id="portfolio" class="portfolio">
    <div class="container">
      <div class="section-title">
        <h2>Портфолио</h2>
        <p>На данной странице вы можете ознакомиться с моими работами.</p>
      </div>

      <div class="row" data-aos="fade-up">
        <div class="col-lg-12 d-flex justify-content-center-all">
          <ul id="portfolio-flters">
            <li data-filter="*" class="filter-active">Все</li>
            <li data-filter=".filter-contourPlastic">Контурная пластика</li>
            <li data-filter=".filter-radiesse">Векторный лифтинг</li>
            <li data-filter=".filter-photorejuvenation">Фотоомоложение</li>
            <li data-filter=".filter-botox">Ботулинотерапия</li>
          </ul>
        </div>
      </div>

      <div
        class="row portfolio-container"
        data-aos="fade-up"
        data-aos-delay="100">
        <!-- ======= Контурная пластика ======= -->

        <div class="col-lg-3 col-md-3 portfolio-item filter-contourPlastic">
          <div class="portfolio-wrap">
            <img
              src="~/images/portfolio/contourPlastic/lips/4.jpg"
              class="img-fluid"
              alt="" />
            <div class="portfolio-links">
              <a
                href="~/images/portfolio/contourPlastic/lips/4.jpg"
                data-gallery="portfolioGallery"
                class="portfolio-lightbox"
                title="Контурная пластика губ препаратом Stylage M.">
                <i class="bx bx-plus"></i>
              </a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-3 portfolio-item filter-contourPlastic">
          <div class="portfolio-wrap">
            <img
              src="~/images/portfolio/contourPlastic/lips/1.jpg"
              class="img-fluid"
              alt="" />
            <div class="portfolio-links">
              <a
                href="~/images/portfolio/contourPlastic/lips/1.jpg"
                data-gallery="portfolioGallery"
                class="portfolio-lightbox"
                title="Контурная пластика губ препаратом Stylage M.">
                <i class="bx bx-plus"></i>
              </a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-3 portfolio-item filter-contourPlastic">
          <div class="portfolio-wrap">
            <img
              src="~/images/portfolio/contourPlastic/lips/2.jpg"
              class="img-fluid"
              alt="" />
            <div class="portfolio-links">
              <a
                href="~/images/portfolio/contourPlastic/lips/2.jpg"
                data-gallery="portfolioGallery"
                class="portfolio-lightbox"
                title="Контурная пластика губ препаратом Stylage L.">
                <i class="bx bx-plus"></i>
              </a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-3 portfolio-item filter-contourPlastic">
          <div class="portfolio-wrap">
            <img
              src="~/images/portfolio/contourPlastic/lips/3.jpg"
              class="img-fluid"
              alt="" />
            <div class="portfolio-links">
              <a
                href="~/images/portfolio/contourPlastic/lips/3.jpg"
                data-gallery="portfolioGallery"
                class="portfolio-lightbox"
                title="Контурная пластика губ препаратом Juvederm Ultra Smile.">
                <i class="bx bx-plus"></i>
              </a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-3 portfolio-item filter-contourPlastic">
          <div class="portfolio-wrap">
            <img
              src="~/images/portfolio/contourPlastic/lips/5.jpg"
              class="img-fluid"
              alt="" />
            <div class="portfolio-links">
              <a
                href="~/images/portfolio/contourPlastic/lips/5.jpg"
                data-gallery="portfolioGallery"
                class="portfolio-lightbox"
                title="Контурная пластика губ.">
                <i class="bx bx-plus"></i>
              </a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-3 portfolio-item filter-contourPlastic">
          <div class="portfolio-wrap">
            <img
              src="~/images/portfolio/contourPlastic/lips/6.jpg"
              class="img-fluid"
              alt="" />
            <div class="portfolio-links">
              <a
                href="~/images/portfolio/contourPlastic/lips/6.jpg"
                data-gallery="portfolioGallery"
                class="portfolio-lightbox"
                title="Контурная пластика губ.">
                <i class="bx bx-plus"></i>
              </a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-3 portfolio-item filter-contourPlastic">
          <div class="portfolio-wrap">
            <img
              src="~/images/portfolio/contourPlastic/lips/7.jpg"
              class="img-fluid"
              alt="" />
            <div class="portfolio-links">
              <a
                href="~/images/portfolio/contourPlastic/lips/7.jpg"
                data-gallery="portfolioGallery"
                class="portfolio-lightbox"
                title="Контурная пластика губ.">
                <i class="bx bx-plus"></i>
              </a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-3 portfolio-item filter-contourPlastic">
          <div class="portfolio-wrap">
            <img
              src="~/images/portfolio/contourPlastic/lips/8.jpg"
              class="img-fluid"
              alt="" />
            <div class="portfolio-links">
              <a
                href="~/images/portfolio/contourPlastic/lips/8.jpg"
                data-gallery="portfolioGallery"
                class="portfolio-lightbox"
                title="Контурная пластика губ.">
                <i class="bx bx-plus"></i>
              </a>
            </div>
          </div>
        </div>

        <!-- ======= Конец блока с контурной пластикой ======= -->

        <!-- ======= Блок с векторным лифтингом ======= -->

        <div class="col-lg-3 col-md-3 portfolio-item filter-radiesse">
          <div class="portfolio-wrap">
            <img
              src="~/images/portfolio/radiesse/one/1.jpg"
              class="img-fluid"
              alt="" />
            <div class="portfolio-links">
              <a
                href="~/images/portfolio/radiesse/one/1.jpg"
                data-gallery="portfolioGallery"
                class="portfolio-lightbox"
                title="Векторный лифтинг.">
                <i class="bx bx-plus"></i>
              </a>
              <a asp-controller="Portfolio" asp-action="Radiesse" asp-route-page="Radiesse/1" title="Детали">
                <i class="bx bx-link"></i>
              </a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-3 portfolio-item filter-radiesse">
          <div class="portfolio-wrap">
            <img
              src="~/images/portfolio/radiesse/two/1.jpg"
              class="img-fluid"
              alt="" />
            <div class="portfolio-links">
              <a
                href="~/images/portfolio/radiesse/two/1.jpg"
                data-gallery="portfolioGallery"
                class="portfolio-lightbox"
                title="Векторный лифтинг.">
                <i class="bx bx-plus"></i>
              </a>
              <a asp-controller="Portfolio" asp-action="Radiesse" asp-route-page="Radiesse/2" title="Детали">
                <i class="bx bx-link"></i>
              </a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-3 portfolio-item filter-radiesse">
          <div class="portfolio-wrap">
            <img
              src="~/images/portfolio/radiesse/three/1.jpg"
              class="img-fluid"
              alt="" />
            <div class="portfolio-links">
              <a
                href="~/images/portfolio/radiesse/three/1.jpg"
                data-gallery="portfolioGallery"
                class="portfolio-lightbox"
                title="Векторный лифтинг.">
                <i class="bx bx-plus"></i>
              </a>
              <a asp-controller="Portfolio" asp-action="Radiesse" asp-route-page="Radiesse/3" title="Детали">
                <i class="bx bx-link"></i>
              </a>
            </div>
          </div>
        </div>

        <!-- ======= Конец блока с векторным лифтингом ======= -->

        <!-- ======= Блок с фотоомоложением ======= -->

        <div class="col-lg-3 col-md-3 portfolio-item filter-photorejuvenation">
          <div class="portfolio-wrap">
            <img
              src="~/images/portfolio/photorejuvenation/one/1.jpg"
              class="img-fluid"
              alt="" />
            <div class="portfolio-links">
              <a
                href="~/images/portfolio/photorejuvenation/one/1.jpg"
                data-gallery="portfolioGallery"
                class="portfolio-lightbox"
                title="Фотоомоложение.">
                <i class="bx bx-plus"></i>
              </a>
              <a asp-controller="Portfolio" asp-action="Photorejuvenation" asp-route-page="Photorejuvenation/1" title="Детали">
                <i class="bx bx-link"></i>
              </a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-3 portfolio-item filter-photorejuvenation">
          <div class="portfolio-wrap">
            <img
              src="~/images/portfolio/photorejuvenation/two/1.jpg"
              class="img-fluid"
              alt="" />
            <div class="portfolio-links">
              <a
                href="~/images/portfolio/photorejuvenation/two/1.jpg"
                data-gallery="portfolioGallery"
                class="portfolio-lightbox"
                title="Фотоомоложение.">
                <i class="bx bx-plus"></i>
              </a>
              <a asp-controller="Portfolio" asp-action="Photorejuvenation" asp-route-page="Photorejuvenation/2" title="Детали">
                <i class="bx bx-link"></i>
              </a>
            </div>
          </div>
        </div>

        <!-- ======= Конец блока с фотоомоложением ======= -->

        <!-- ======= Блок с ботоксом ======= -->

        <div class="col-lg-3 col-md-3 portfolio-item filter-botox">
          <div class="portfolio-wrap">
            <img
              src="~/images/portfolio/botox/one/1.jpg"
              class="img-fluid"
              alt=""/>
            <div class="portfolio-links">
              <a
                href="~/images/portfolio/botox/one/1.jpg"
                data-gallery="portfolioGallery"
                class="portfolio-lightbox"
                title="Ботулинотерапия.">
                <i class="bx bx-plus"></i>
              </a>
              <a asp-controller="Portfolio" asp-action="Botox" asp-route-page="Botox/1" title="Детали">
                <i class="bx bx-link"></i>
              </a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-3 portfolio-item filter-botox">
          <div class="portfolio-wrap">
            <img
              src="~/images/portfolio/botox/two/1.jpg"
              class="img-fluid"
              alt="" />
            <div class="portfolio-links">
              <a
                href="~/images/portfolio/botox/two/1.jpg"
                data-gallery="portfolioGallery"
                class="portfolio-lightbox"
                title="Ботулинотерапия.">
                <i class="bx bx-plus"></i>
              </a>
              <a asp-controller="Portfolio" asp-action="Botox" asp-route-page="Botox/2" title="Детали">
                <i class="bx bx-link"></i>
              </a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-3 portfolio-item filter-botox">
          <div class="portfolio-wrap">
            <img
              src="~/images/portfolio/botox/three/1.jpg"
              class="img-fluid"
              alt="" />
            <div class="portfolio-links">
              <a
                href="~/images/portfolio/botox/three/1.jpg"
                data-gallery="portfolioGallery"
                class="portfolio-lightbox"
                title="Ботулинотерапия.">
                <i class="bx bx-plus"></i>
              </a>
              <a asp-controller="Portfolio" asp-action="Botox" asp-route-page="Botox/3" title="Детали">
                <i class="bx bx-link"></i>
              </a>
            </div>
          </div>
        </div>

        <!-- ======= Конец блока с ботоксом ======= -->
      </div>
    </div>
  </section>
</div>
