<div>
  <section id="resume" class="resume">
    <div class="container">

      <div class="section-title">
        <h2>Резюме</h2>
        <p>На данной странице вы сможете ознакомиться с моим резюме.</p>
      </div>

      <div class="row">
        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">

          <h3 class="resume-title">Образование</h3>

          <div class="resume-item">
            <h4>Врач-лечебник</h4>
            <h5>2015 - 2021</h5>
            <p>
              <em>г.Саранск</em>
            </p>
            <p>
              <em>МГУ им.Н.П.Огарёва</em>
            </p>
          </div>

          <div class="resume-item">
            <h4>Врач-дерматовенеролог</h4>
            <h5>2021 - 2023</h5>
            <p>
              <em>г.Саранск</em>
            </p>
            <p>
              <em>МГУ им.Н.П.Огарёва</em>
            </p>
          </div>

          <div class="resume-item">
            <h4>Врач-косметолог</h4>
            <h5>2023</h5>
            <p>
              <em>г.Москва</em>
            </p>
            <p>
              <em>Первый профессиональный институт эстетики</em>
            </p>
          </div>

          <h3 class="resume-title">Профессиональная переподготовка</h3>

          <div class="resume-item">
            <h4>Повышение квалификации</h4>
            <h5>2023</h5>
            <p>
              <em>г.Ульяновск</em>
            </p>
            <p>Обучение по векторному лифтингу Radiesse</p>
          </div>

          <div class="resume-item">
            <h4>Повышение квалификации</h4>
            <h5>2023</h5>
            <p>
              <em>г.Саранск</em>
            </p>
            <p>Обучение по полинуклеатидам Plinest</p>
          </div>

          <div class="resume-item">
            <h4>Повышение квалификации</h4>
            <h5>2023</h5>
            <p>
              <em>г.Саранск</em>
            </p>
            <p>Обучение по филлерам</p>
            <ul>
              <li>Biohyalux</li>
              <li>Novacutan</li>
              <li>Viskoline</li>
              <li>Aliaxin</li>
            </ul>
          </div>

          <div class="resume-item">
            <h4>Повышение квалификации</h4>
            <h5>2023</h5>
            <p>
              <em>г.Саранск</em>
            </p>
            <p>Ботулинотерапия препаратами</p>
            <ul>
              <li>Релатокс</li>
              <li>Ксеомин</li>
            </ul>
          </div>

          <div class="resume-item">
            <h4>Повышение квалификации</h4>
            <h5>2023</h5>
            <p>
              <em>г.Саранск</em>
            </p>
            <p>Обучение по мезотерапии и биоревитализации</p>
            <ul>
              <li>Hyalrepair</li>
              <li>Hyaluform</li>
              <li>Novacutan</li>
              <li>Profhilo</li>
              <li>Mesopharm</li>
            </ul>
          </div>

          <div class="resume-item">
            <h4>Повышение квалификации</h4>
            <h5>2023</h5>
            <p>
              <em>г.Саранск</em>
            </p>
            <p>Обучение аппаратным процедурам на платформе Inmode</p>
            <ul>
              <li>Morpheus 8</li>
              <li>Lumecca</li>
              <li>Diolaze</li>
            </ul>
          </div>

          <div class="resume-item">
            <h4>Повышение квалификации</h4>
            <h5>2023</h5>
            <p>
              <em>г.Саранск</em>
            </p>
            <p>Обучение аппаратным процедурам на платформе Heleo 4 - ФДТ</p>
          </div>

          <div class="resume-item">
            <h4>Повышение квалификации</h4>
            <h5>2024</h5>
            <p>
              <em>г.Саранск</em>
            </p>
            <p>Обучение по Коллост и коллагеностимулирующим процедурам</p>
          </div>

          <div class="resume-item">
            <h4>Повышение квалификации</h4>
            <h5>2024</h5>
            <p>
              <em>г.Саранск</em>
            </p>
            <p>Обучение по полимолочной кислоте Aesthefill</p>
          </div>
          
          <div class="resume-item">
            <h4>Повышение квалификации</h4>
            <h5>2024</h5>
            <p>
              <em>г.Москва</em>
            </p>
            <p>Международный конгресс по anti-age и эстетической медицине</p>
          </div>
          
          <div class="resume-item">
            <h4>Повышение квалификации</h4>
            <h5>2023 - 2024</h5>
            <p>Онлайн - практикум Lips school</p>
          </div>
        </div>

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="500">
          <h3 class="resume-title">Обучение</h3>
          <div class="resume-item">
            <h4>Сертификаты</h4>
            
            <resume id="portfolio" class="portfolio">
              <div class="custom-container">

                <div class="row portfolio-container">

                  <div class="col-lg-5 col-md-5 portfolio-item">
                    <div class="portfolio-wrap">
                      <img src="~/images/resume/certificates/2.jpg" class="img-fluid" alt="">
                      <div class="portfolio-links">
                        <a href="~/images/resume/certificates/2.jpg"
                           data-gallery="portfolioGallery"
                           class="portfolio-lightbox">

                          <i class="bx bx-plus"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                  
                  <div class="col-lg-5 col-md-5 portfolio-item">
                    <div class="portfolio-wrap">
                      <img src="~/images/resume/certificates/3.jpg" class="img-fluid" alt="">
                      <div class="portfolio-links">
                        <a href="~/images/resume/certificates/3.jpg"
                           data-gallery="portfolioGallery"
                           class="portfolio-lightbox">

                          <i class="bx bx-plus"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                  
                  <div class="col-lg-5 col-md-5 portfolio-item">
                    <div class="portfolio-wrap">
                      <img src="~/images/resume/certificates/4.jpg" class="img-fluid" alt="">
                      <div class="portfolio-links">
                        <a href="~/images/resume/certificates/4.jpg"
                           data-gallery="portfolioGallery"
                           class="portfolio-lightbox">

                          <i class="bx bx-plus"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                
                  <div class="col-lg-5 col-md-5 portfolio-item">
                    <div class="portfolio-wrap">
                      <img src="~/images/resume/certificates/5.jpg" class="img-fluid" alt="">
                      <div class="portfolio-links">
                        <a href="~/images/resume/certificates/5.jpg"
                           data-gallery="portfolioGallery"
                           class="portfolio-lightbox">

                          <i class="bx bx-plus"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                
                  <div class="col-lg-5 col-md-5 portfolio-item">
                    <div class="portfolio-wrap">
                      <img src="~/images/resume/certificates/6.jpg" class="img-fluid" alt="">
                      <div class="portfolio-links">
                        <a href="~/images/resume/certificates/6.jpg"
                           data-gallery="portfolioGallery"
                           class="portfolio-lightbox">

                          <i class="bx bx-plus"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                
                  <div class="col-lg-5 col-md-5 portfolio-item">
                    <div class="portfolio-wrap">
                      <img src="~/images/resume/certificates/7.jpg" class="img-fluid" alt="">
                      <div class="portfolio-links">
                        <a href="~/images/resume/certificates/7.jpg"
                           data-gallery="portfolioGallery"
                           class="portfolio-lightbox">

                          <i class="bx bx-plus"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                
                  <div class="col-lg-5 col-md-5 portfolio-item">
                    <div class="portfolio-wrap">
                      <img src="~/images/resume/certificates/8.jpg" class="img-fluid" alt="">
                      <div class="portfolio-links">
                        <a href="~/images/resume/certificates/8.jpg"
                           data-gallery="portfolioGallery"
                           class="portfolio-lightbox">

                          <i class="bx bx-plus"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                  
                  <div class="col-lg-5 col-md-5 portfolio-item">
                    <div class="portfolio-wrap">
                      <img src="~/images/resume/certificates/9.jpg" class="img-fluid" alt="">
                      <div class="portfolio-links">
                        <a href="~/images/resume/certificates/9.jpg"
                           data-gallery="portfolioGallery"
                           class="portfolio-lightbox">

                          <i class="bx bx-plus"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                
                  <div class="col-lg-5 col-md-5 portfolio-item">
                    <div class="portfolio-wrap">
                      <img src="~/images/resume/certificates/10.jpg" class="img-fluid" alt="">
                      <div class="portfolio-links">
                        <a href="~/images/resume/certificates/10.jpg"
                           data-gallery="portfolioGallery"
                           class="portfolio-lightbox">

                          <i class="bx bx-plus"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                
                  <div class="col-lg-5 col-md-5 portfolio-item">
                    <div class="portfolio-wrap">
                      <img src="~/images/resume/certificates/11.jpg" class="img-fluid" alt="">
                      <div class="portfolio-links">
                        <a href="~/images/resume/certificates/11.jpg"
                           data-gallery="portfolioGallery"
                           class="portfolio-lightbox">

                          <i class="bx bx-plus"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                
                  <div class="col-lg-5 col-md-5 portfolio-item">
                    <div class="portfolio-wrap">
                      <img src="~/images/resume/certificates/12.jpg" class="img-fluid" alt="">
                      <div class="portfolio-links">
                        <a href="~/images/resume/certificates/12.jpg"
                           data-gallery="portfolioGallery"
                           class="portfolio-lightbox">

                          <i class="bx bx-plus"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                
                  <div class="col-lg-5 col-md-5 portfolio-item">
                    <div class="portfolio-wrap">
                      <img src="~/images/resume/certificates/13.jpg" class="img-fluid" alt="">
                      <div class="portfolio-links">
                        <a href="~/images/resume/certificates/13.jpg"
                           data-gallery="portfolioGallery"
                           class="portfolio-lightbox">

                          <i class="bx bx-plus"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                
                  <div class="col-lg-5 col-md-5 portfolio-item">
                    <div class="portfolio-wrap">
                      <img src="~/images/resume/certificates/14.jpg" class="img-fluid" alt="">
                      <div class="portfolio-links">
                        <a href="~/images/resume/certificates/14.jpg"
                           data-gallery="portfolioGallery"
                           class="portfolio-lightbox">

                          <i class="bx bx-plus"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                
                  <div class="col-lg-5 col-md-5 portfolio-item">
                    <div class="portfolio-wrap">
                      <img src="~/images/resume/certificates/15.jpg" class="img-fluid" alt="">
                      <div class="portfolio-links">
                        <a href="~/images/resume/certificates/15.jpg"
                           data-gallery="portfolioGallery"
                           class="portfolio-lightbox">

                          <i class="bx bx-plus"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                
                  <div class="col-lg-5 col-md-5 portfolio-item">
                    <div class="portfolio-wrap">
                      <img src="~/images/resume/certificates/16.jpg" class="img-fluid" alt="">
                      <div class="portfolio-links">
                        <a href="~/images/resume/certificates/16.jpg"
                           data-gallery="portfolioGallery"
                           class="portfolio-lightbox">

                          <i class="bx bx-plus"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                
                  <div class="col-lg-5 col-md-5 portfolio-item">
                    <div class="portfolio-wrap">
                      <img src="~/images/resume/certificates/17.jpg" class="img-fluid" alt="">
                      <div class="portfolio-links">
                        <a href="~/images/resume/certificates/17.jpg"
                           data-gallery="portfolioGallery"
                           class="portfolio-lightbox">

                          <i class="bx bx-plus"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                
                  <div class="col-lg-5 col-md-5 portfolio-item">
                    <div class="portfolio-wrap">
                      <img src="~/images/resume/certificates/18.jpg" class="img-fluid" alt="">
                      <div class="portfolio-links">
                        <a href="~/images/resume/certificates/18.jpg"
                           data-gallery="portfolioGallery"
                           class="portfolio-lightbox">

                          <i class="bx bx-plus"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                
                  <div class="col-lg-5 col-md-5 portfolio-item">
                    <div class="portfolio-wrap">
                      <img src="~/images/resume/certificates/19.jpg" class="img-fluid" alt="">
                      <div class="portfolio-links">
                        <a href="~/images/resume/certificates/19.jpg"
                           data-gallery="portfolioGallery"
                           class="portfolio-lightbox">

                          <i class="bx bx-plus"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                
                  <div class="col-lg-5 col-md-5 portfolio-item">
                    <div class="portfolio-wrap">
                      <img src="~/images/resume/certificates/20.jpg" class="img-fluid" alt="">
                      <div class="portfolio-links">
                        <a href="~/images/resume/certificates/20.jpg"
                           data-gallery="portfolioGallery"
                           class="portfolio-lightbox">

                          <i class="bx bx-plus"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                
                  <div class="col-lg-5 col-md-5 portfolio-item">
                    <div class="portfolio-wrap">
                      <img src="~/images/resume/certificates/21.jpg" class="img-fluid" alt="">
                      <div class="portfolio-links">
                        <a href="~/images/resume/certificates/21.jpg"
                           data-gallery="portfolioGallery"
                           class="portfolio-lightbox">

                          <i class="bx bx-plus"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                
                  <div class="col-lg-5 col-md-5 portfolio-item">
                    <div class="portfolio-wrap">
                      <img src="~/images/resume/certificates/22.jpg" class="img-fluid" alt="">
                      <div class="portfolio-links">
                        <a href="~/images/resume/certificates/22.jpg"
                           data-gallery="portfolioGallery"
                           class="portfolio-lightbox">

                          <i class="bx bx-plus"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                
                
                
                </div>
              </div>
            </resume>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>