<div>
  <section id="resume" class="resume">
    <div class="container">

      <div class="section-title">
        <h1>Резюме</h1>
        <p>На данной странице вы сможете ознакомиться с моим резюме</p>
      </div>

      <div class="row">
        <div class="col-lg-6" data-aos="fade-up">

          <h3 class="resume-title">Образование</h3>
          <div class="resume-item">
            <h4>Врач общей практики</h4>
            <h5>указать года</h5>
            <p>
              <em>МГУ им.Н.П.Огарёва</em>
            </p>
            <p>Получила образование врача</p>
          </div>
          <div class="resume-item">
            <h4>Врач дерматовенеролог</h4>
            <h5>указать года</h5>
            <p>
              <em>МГУ им.Н.П.Огарёва</em>
            </p>
            <p>Получила образование по направлению дерматовенерология</p>
          </div>
          <h3 class="resume-title">Профессиональные навыки</h3>
          <div class="resume-item">
            <h4>Обучение на косметолога</h4>
            <h5>указать года</h5>
            <p>
              <em>место обучение</em>
            </p>
            <ul>
              <li>желательно указать чек лист какие темы рассматривали</li>
              @*<li></li>
              <li></li>
              <li></li>*@
            </ul>
          </div>
          <div class="resume-item">
            <h4>Обучение на косметолога</h4>
            <h5>указать года</h5>
            <p>
              <em>место обучение</em>
            </p>
            <ul>
              <li>желательно указать чек лист какие темы рассматривали</li>
            </ul>
          </div>
          <div class="resume-item">
            <h4>Обучение на косметолога</h4>
            <h5>указать года</h5>
            <p>
              <em>место обучение</em>
            </p>
            <ul>
              <li>желательно указать чек лист какие темы рассматривали</li>
            </ul>
          </div>
          </div>
        
        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
          <h3 class="resume-title">Сертификаты</h3>
          
          <div class="resume-item">
            
            
            <section id="portfolio" class="portfolio section-bg">
              <div class="container">
                
                
                <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">
                  <div class="col-lg-6 col-md-6 portfolio-item">
                    <div class="portfolio-wrap">
                      <img src="images/portfolio/lips/1.jpg" class="img-fluid" alt="">
                      <div class="portfolio-links">
                        <a href="images/portfolio/lips/1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Короткое описание губ">
                          <i class="bx bx-plus"></i>
                        </a>
                      </div>
                    </div>
                  </div>

                  <div class="col-lg-6 col-md-6 portfolio-item">
                    <div class="portfolio-wrap">
                      <img src="images/portfolio/lips/2.jpg" class="img-fluid" alt="">
                      <div class="portfolio-links">
                        <a href="images/portfolio/lips/2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Короткое описание губ">
                          <i class="bx bx-plus"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                  
                  <div class="col-lg-6 col-md-6 portfolio-item">
                    <div class="portfolio-wrap">
                      <img src="images/portfolio/lips/1.jpg" class="img-fluid" alt="">
                      <div class="portfolio-links">
                        <a href="images/portfolio/lips/1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Короткое описание губ">
                          <i class="bx bx-plus"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                  
                  <div class="col-lg-6 col-md-6 portfolio-item">
                    <div class="portfolio-wrap">
                      <img src="images/portfolio/lips/2.jpg" class="img-fluid" alt="">
                      <div class="portfolio-links">
                        <a href="images/portfolio/lips/2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Короткое описание губ">
                          <i class="bx bx-plus"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                  
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>