<!DOCTYPE html>
<html lang="ru">

    <head>
        @await Html.PartialAsync("MetaPartial")
        @await Html.PartialAsync("CssPartial")
    
        <title>Александра Александровна</title>
        
        @await Html.PartialAsync("LinkPartial")
    </head>

    <body>

        @await Html.PartialAsync("NavbarPartial")
    
        <main id="main">
            @RenderBody()
        </main>
    
        @await Html.PartialAsync("FooterPartial")
    
        <a href="#" class="back-to-top d-flex align-items-center justify-content-center-all"><i class="bi bi-arrow-up-short"></i></a>
    
        @await Html.PartialAsync("ScriptsPartial")

    </body>

</html>