<div>
    <section id="contact" class="contact">
        <div class="container">
    
            <div class="section-title">
                <h2>Контакты</h2>
                <p>Вы можете записаться ко мне на прием. Я принимаю в косметологии MedLife.</p>
            </div>
    
            <div class="row" data-aos="fade-in">
                <div class="col-lg-6 d-flex align-items-stretch">
                    <div class="info">
                        <div class="address">
                            <i class="bi bi-geo-alt"></i>
                            <h4>Адрес:</h4>
                            <p>Руспеблика Мордовия, город Саранск</p>
                        </div>
    
                        <div class="phone">
                            <i class="bi bi-phone"></i>
                            <h4>Телефон для записи в косметологии:</h4>
                            <p>+7 (906) 160-88-99</p>
                        </div>
                        
                        <div class="col-lg-5 mt-0 mb-lg-5 d-flex align-items-stretch">
                            <a href="https://n498791.yclients.com/company/471971/personal/menu?api_key=xyjdby6mu7fz8m9nmasg&o=m2246819" 
                               class="custom-link"
                               target="_blank">Записаться</a>
                        </div>
                        
                        <iframe
                            src="https://yandex.ru/map-widget/v1/org/medlife/10458968050/?ll=45.215370%2C54.191595&z=16.48"
                            frameborder="0"
                            style="border:0; width: 100%; height: 290px;"
                            allowfullscreen>
                        </iframe>
                    </div>
                </div>
    
                <div class="col-lg-6 d-flex align-items-stretch">
                    <div class="info">
                        <div>
                            <iframe
                                src="https://yandex.ru/maps-reviews-widget/10458968050?comments"
                                class="custom"
                                frameborder="0"
                                style="border:0; width: 100%; height: 550px;"
                                allowfullscreen>
                            </iframe>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
</div>
