<div>
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <header id="header">
    <div class="d-flex flex-column">
      <div class="profile">
        <img
          src="~/images/profile/avatarProfile.jpg"
          alt=""
          class="img-fluid rounded-circle" />
        <h1 class="text-light">
          <a asp-controller="Home" asp-action="Index">Aleksandra Aleksandrovna</a>
        </h1>
      </div>

      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li>
            <a asp-controller="Home" asp-action="Index" class="nav-link scrollto">
              <i class="bx bx-home"></i>
              <span>Главная</span>
            </a>
          </li>
          <li>
            <a asp-controller="Resume" asp-action="Index" class="nav-link scrollto">
              <i class="bx bx-file-blank"></i>
              <span>Резюме</span>
            </a>
          </li>
          <li>
            <a asp-controller="Portfolio" asp-action="Index" class="nav-link scrollto">
              <i class="bx bx-book-content"></i>
              <span>Портфолио</span>
            </a>
          </li>
          @*
          <li>
            <a
              asp-controller="Blog"
              asp-action="Index"
              class="nav-link scrollto"
            >
              <i class="bx bx-book-reader"></i>
              <span>Блог</span>
            </a>
          </li>
          *@
        </ul>
      </nav>
    </div>
  </header>
</div>
