<div>
    @await Html.PartialAsync("Details/BreadcrumbsPartial")
  
    <section id="portfolio-details" class="portfolio-details">
        <div class="container">
            <div class="row gy-4">
                <div class="col-lg-8">
                    <div class="portfolio-details-slider swiper">
                        <div class="swiper-wrapper align-items-center">

                            <div class="swiper-slide">
                                <img src="images/portfolio/lips/2.jpg" alt="">
                            </div>

                            <div class="swiper-slide">
                                <img src="images/portfolio/lips/2.jpg" alt="">
                            </div>

                            <div class="swiper-slide">
                                <img src="images/portfolio/lips/2.jpg" alt="">
                            </div>

                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="portfolio-info">
                        <h3>Подробная информация</h3>
                        <ul>
                            <li><strong>Категория</strong>: Губы</li>
                            @*<li><strong>Client</strong>: ASU Company</li>*@
                            <li><strong>Дата</strong>: 01 March, 2021</li>
                        </ul>
                    </div>
                    <div class="portfolio-description">
                        <h2>Описание</h2>
                        <p>
                            В данные губы было введено 10 мл препарата "ААААА"
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>